body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* change color */
.important {
    color: #336699;
}

.error {
    color: red;
}

/* .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
} */

.main-content {
    display: flex;
}
.main-section {
    flex: 1;
}
.sidebar {
    width: 250px;
    margin-left: 20px;
}

input{
    max-width: 500px;
    min-width: 100px;
}

